body {
	font-size: 16px;
	color: #000;
	background-color: #cecece;
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background-color: darkgray;
	border-radius: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.navbar-brand h1 {
  font-size: 3em;
  position: absolute;
  color: #000;
  left: 0;
  margin-left: 1.5em;
  line-height: 1;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar {
	min-height: 150px;
}
#nav-list {
	margin-top: 15px;
}
#nav-list a {
	color: #cecece;
	text-align: center;
	font-size: 1.5em;
}
#nav-list li:nth-child(1), #nav-list li:nth-child(2) {
	border-bottom: 2px solid #ccc;
}
#nav-list a:hover, #nav-list a:focus {
	background: #cecece;
	color: #000;
}
button {
	overflow: hidden;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  margin-bottom: 100px;
} 
.navbar-collapse {
	overflow-x: hidden;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-left: 0;
	margin-right: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	overflow-x: hidden;
}
h2 {
	font-size: 3em;
	margin-bottom: 50px;
	font-weight: bold;
}
h3 {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Lora', serif;
}
.container {
	width: 100%;
	height: auto;
	padding: 0;
}
.row {
	margin-right: 30px;
	margin-left: 30px;
}
.menu-items {
	background-color: skyblue;
	margin-bottom: 40px;
}
.menu-items p {
	font-size: 1em;
	padding: 20px;
}
